.bubble {
   z-index : 999;
   position : absolute;
   border-radius : 50%;
}
body {
  background: rgb(30,0,0);
  background: linear-gradient(45deg, rgba(30,0,0,1) 0%, rgba(130,0,0,1) 50%, rgba(230,0,0,1) 100%);
  font-family: monospace;
}
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
     }
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: button;
  animation-duration: 4s;
   border-radius: 50%;
}
@keyframes button {
  from {background-color: firebrick;}
  to {background-color: crimson;}
}
.btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50%;
  padding: 7px 13px;
  color: #db433d;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
h1, h2, h3, p, li {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
