.bubble {
   z-index : 999;
   position : absolute;
   border-radius : 50%;
}
body {
  background: rgb(30,0,0);
  background: linear-gradient(45deg, rgba(30,0,0,1) 0%, rgba(130,0,0,1) 50%, rgba(230,0,0,1) 100%);
  font-family: monospace;
}
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
     }
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: button;
  animation-duration: 4s;
   border-radius: 50%;
}
@keyframes button {
  from {background-color: firebrick;}
  to {background-color: crimson;}
}
