.bubble {
   z-index : 999;
   position : absolute;
   border-radius : 50%;
}
body {
  background: rgb(30,0,0);
  background: linear-gradient(45deg, rgba(30,0,0,1) 0%, rgba(130,0,0,1) 50%, rgba(230,0,0,1) 100%);
  font-family: monospace;
}
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
     }
div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: button;
  animation-duration: 4s;
   border-radius: 50%;
}
@keyframes button {
  from {background-color: firebrick;}
  to {background-color: crimson;}
}
.btns_more {
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50%;
  padding: 7px 13px;
  color: #db433d;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin-top: 15px;
  outline: none;
  transform: translateY(50px);
  animation: slideUp .8s ease-in-out  forwards 1s;
}
@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}
h1, h2, h3, p, li {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* GLOBAL STYLES */
body {
  background: #333;
  padding-top: 5em;
  display: flex;
  justify-content: center;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
